body {
    font-family: Arial, sans-serif;
    margin: 20px;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    color: #333;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

body.dark-mode {
    background-color: #333;
    color: #f9f9f9;
}

body.dark-mode h1 {
    color: #f9f9f9;
}

body.dark-mode button {
    background-color: #f9f9f9;
    color: #333;
}
